.detil {
  flex: 1;
  .user {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    text-align: center;
    color: rgba(240, 248, 255, 0.61);
    border-bottom: 1px solid #eaeaea;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30px;
          height: 30px;
          background-color: rgba(17, 25, 40, 0.3);
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .photos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .photoDeta {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 5px;
              object-fit: cover;
            }
            span {
              font-size: 14px;
              color: lightgray;
              font-weight: 300;
            }
          }
          .icon {
            width: 30px;
            height: 30px;
            background-color: rgba(17, 25, 40, 0.3);
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
          }
        }
      }
    }
    button {
      padding: 10px;
      background-color: #ff0d0d49;
      color: rgb(255, 255, 255);
      border: none;
      border-radius: 20px;

      cursor: pointer;

      &:hover {
        background-color: #ff0d0d85;
      }
      &.logout {
        padding: 10px;
        background-color: rgb(36, 201, 132);
      }
    }
  }
}
